{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/5.3.0/polaris.min.css">
{% endblock css %}
{% block title %}Bytelinkup{% endblock title %}
{% block main-home %}

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {% for pro in product%}
        <tr>
          <th scope="row">1</th>
          <td>{{pro.title}}</td>
          <td>{{pro.vendor}}</td>
          <td>@mdo</td>
        </tr>
          {% if pro.vendor%}
            {% for ad in pro.%}
          <tr>
            <th scope="row">1</th>
            <td>{{pro.variant.title}}</td>
            <td>{{pro.variant.product_id}}</td>
            <td>@mdo</td>
          </tr>
          {% endif %}
        {% endfor %}
        
      </tbody>
    </table>
  </div>

  <!-- Include Shopify's JavaScript libraries -->
  {% endblock main-home %}
  {% block javascriptcode %}
  
  <script src="https://cdn.shopify.com/shopifycloud/polaris/5.3.0/polaris.min.js"></script>
  {% endblock javascriptcode %}

